

/*Responsive Design*/

@media(max-width: 740px){
    
}

.results{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-bottom:20px;
    background-color: white;
    padding: 6px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    width: 700px;
    float: left;
  }
  
  table .styled-table {
    width: 700px;
    
    border-collapse: collapse;
    padding:10px;
    
  }
  
  
  table thead tr {
    
    background-color: #2f80ed;
    color:#fff;
  }
  
  table thead  tr  td{
    border-style: none;
    padding:20px;
    text-align: left;
    font-size: 18px;
  }

  table tbody tr td{
    padding:20px;

  }