.login-form{
    display: grid;
    place-items: center;
    margin-top:12%;

}

.form-input > label {
    font-family: 'Josefin Sans', sans-serif;
    font-size:17px;
    color: #191919;
}

.form-input > span{
    font-size:10px;
    padding:0;
    
}
.form-input > span > a{
    text-decoration: none;
    color: #191919;
    cursor:move;
}
.form-input{
    display:grid;
    width: 350px;
}

input[type=submit]{
    height:36px;
    margin-top:15px;
    background-color: #f9004d;
    border-style:none;
    color:#fff;
    border-radius:3px;
    font-size:15px;
    font-weight:400;
}


