.players {
    margin-left:70px;
    margin-right:70px;
    padding: 0;
    display:table;
    width: 1000px;
    height: 100vh;
    border: 1px solid #ccc;
}

.player-card{
    width: 200px;
    height: auto;
    border-radius: 4px solid #ccc;
    margin-right: 2px;
}

.card-top{
    margin-top:5px;
    margin-bottom: 6px;
    display: inline;
}

