.registry > form{
    display:grid;
    width: 380px;
    margin-top: 50px;
}

.registry{
    padding:0;
    display: grid;
    place-items: center;
    
}

nav {
    padding: 0;
    font-family: Poppins, sans-serif;
    
}

.logo {
    font-weight: bold;
    font-size: 23px;
    color:#f9004d;
    
    padding-left:130px;
}



nav > ul {
    list-style-type: none;
    margin-left:20px;
    margin-right: 130px;
    margin-top: 30px;
    margin-bottom: auto;
    padding: 0px;
    float: right;
    
}

nav > ul > li {
    list-style-type: none;
    display: inline;
    
}

nav > ul > li > a{
    text-align: center;
    padding: 14px 40px;
    text-decoration:none;
    color: #f9004d;
}


.log-container{
    display: grid;
}